<div class="card">
    <div class="card-header bgm-cyan">
        <h2><i class="him-icon zmdi zmdi-accounts"></i>&nbsp; Users List</h2>
        <ul class="actions actions-alt">
            <li class="dropdown">
                <a href="widget-templates.html" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="javascript:void(0);" ng-click="userModal()">Add New User</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Import New User</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Export User Data</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Print User List</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bootgrid-header container-fluid">
        <div class="row">
            <div class="col-sm-4 actionBar">
                <div class="search form-group m-t-25">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" class="search-field form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 m-t-25 fg-float form-group">
                <div class="fg-toggled">
                    <select class="selectpicker" data-live-search="true" selectpicker ng-model="user_roles">
                        <option ng-repeat="role in roles" value="<% role.name %>"><% role.name %></option>
                    </select>
                    <label class="fg-label" style="margin-left: 15px"><strong>User Roles</strong></label>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>City</th>
                <th>Address</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="user in users | filter:search | filter:user_roles">
                <td><% user.id %></td>
                <td><% user.first_name +' '+ user.last_name %></td>
                <td><% user.email %> </td>
                <td><% user.cell_phone %> </td>
                <td><% user.city %> </td>
                <td><% user.address %> </td>
                <td><% user.user_roles[0].name %> </td>
                <td class="text-left" style="">
                    <button class="btn btn-info waves-effect" ng-click="updateUser(user)"><i class="zmdi zmdi-edit"></i></button>
                    <button class="btn btn-danger waves-effect" ng-click="deleteUser(user.id , user)"><i class="zmdi zmdi-delete"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>