<div class="card">
    <div class="card-header bgm-cyan">
        <h2>
            <i class="him-icon zmdi zmdi-menu"></i>&nbsp;
            Menu List
        </h2>
        <ul class="actions actions-alt">
            <li class="dropdown">
                <a href="widget-templates.html" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="javascript:void(0);" ng-click="menuModal()">Add Menu Item</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Print Menu List</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bootgrid-header container-fluid">
        <div class="row">
            <div class="col-sm-3 actionBar">
                <div class="search form-group m-t-25" style="width: 100% !important;">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" class="search-field form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Menu Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="item in menuItems | filter:search">
                    <td><% $index + 1 %></td>
                    <td><% item.title %></td>
                    <td><% item.description %></td>
                    <td class="text-left" style="">
                        <button class="btn btn-info waves-effect" ng-click="updateMenu(item)">
                            <i class="zmdi zmdi-edit"></i>
                        </button>
                        <button class="btn btn-primary waves-effect" data-toggle="collapse"
                                data-target="#view<% item.menu_id %>" aria-expanded="false"
                                aria-controls="view<% item.menu_id %>">
                            <i class="zmdi zmdi-eye"></i>
                        </button>
                        <button class="btn btn-danger waves-effect" ng-click="deleteMenu(item.menu_id, item)">
                            <i class="zmdi zmdi-delete"></i>
                        </button>
                    </td>
                </tr>
                <tr class="collapse" id="view<% item.menu_id %>" ng-repeat-end>
                    <td colspan="9">
                        <div class="card card-box">
                            <div class="col-sm-8 m-b-25" >
                                <div class="card pt-inner">
                                    <div class="pti-body">
                                        <div class="col-sm-6 ptib-item text-left">
                                            Product
                                        </div>
                                        <div class="col-sm-6 ptib-item">
                                            Quantity
                                        </div>
                                        <div class="col-sm-6 ptib-item text-left" ng-repeat-start="components in item.menu_component">
                                            <% components.product_info.product_name %>
                                        </div>
                                        <div class="col-sm-6 ptib-item" style="border-bottom: 1px solid #eee;" ng-repeat-end>
                                            <% components.quantity %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>