<form data-url="menu/update" method="post" name="form" id="updateMenu" ng-submit="updateMenu($event)">
    <input type="hidden" value="<% menuItem_info.menu_id %>" name="menu_id">
    <div class="card">
        <div class="card-header bgm-cyan text-center">
            <h2><i class="him-icon zmdi zmdi-cutlery"></i> &nbsp; Update Menu </h2>
        </div>
        <div id="messages"></div>
        <div class="card-body card-padding">
            <!-- first row -->
            <div class="form-group fg-float m-b-30 col-sm-12">
                <div class="fg-line fg-toggled" ng-class="{'has-error': form.title.$dirty && form.title.$invalid }">
                    <input type="text" class="form-control input-sm" name="title" required ng-model="menuItem_info.title">
                    <label class="fg-label">Menu Title <span class="text-danger">*</span></label>
                </div>
            </div>
            <!-- 2nd row -->
            <div class="form-group fg-float col-sm-12">
                <div class="fg-line fg-toggled">
                    <textarea class="form-control auto-size input-sm" style="overflow: hidden; word-wrap: break-word; height: 43px;" name="description"><% menuItem_info.description %></textarea>
                    <label class="fg-label">Description</label>
                </div>
            </div>
            <div class="col-sm-12  m-b-30 text-center">
                <h5><i class="zmdi zmdi-puzzle-piece"></i> &nbsp;Menu Components</h5>
            </div>
            <!-- 3rd row -->
            <div class="menu-component">
                <div class="form-group fg-float col-sm-6">
                    <div class="fg-toggled">
                        <select class="selectpicker" selectpicker data-live-search="true" name="product_id[]">
                            <option ng-repeat="product in products" value="<% product.product_id %>"><% product.product_name %></option>
                        </select>
                        <label class="fg-label" style="margin-left: 15px"><strong>Product</strong></label>
                    </div>
                </div>
                <div class="form-group fg-float col-sm-3">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm quantity" name="quantity[]">
                        <label class="fg-label">Quantity</label>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <a href="javascript:void(0);" class="btn bgm-lightgreen waves-effect add-component">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                    <a href="javascript:void(0);"
                       class="btn bgm-deeporange waves-effect hide remove-component">
                        <i class="zmdi zmdi-minus"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-12  m-b-30 text-center">
                <h5><i class="zmdi zmdi-puzzle-piece"></i> &nbsp;Previous Components</h5>
            </div>
            <!-- previous menu -->
            <div class="menu-component" ng-repeat="component in menuItem_info.menu_component">
                <div class="form-group fg-float col-sm-6">
                    <div class="fg-toggled">
                        <select class="selectpicker" selectpicker data-live-search="true" name="product_id[]">
                            <option ng-repeat="product in products" value="<% product.product_id %>" ng-selected="component.product_id == product.product_id" >
                                <% product.product_name %>
                            </option>
                        </select>
                        <label class="fg-label" style="margin-left: 15px"><strong>Product</strong></label>
                    </div>
                </div>
                <div class="form-group fg-float col-sm-3">
                    <div class="fg-line fg-toggled">
                        <input type="text" class="form-control input-sm quantity" name="quantity[]" value="<% component.quantity %>">
                        <label class="fg-label">Quantity</label>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <a href="javascript:void(0);"
                       class="btn bgm-deeporange waves-effect remove-component">
                        <i class="zmdi zmdi-minus"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-12  m-b-30">
                <button class="btn btn-info waves-effect">Update</button>
                <button class="btn btn-link waves-effect" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>