<form data-url="inventory/create" method="post" name="form" id="saveInventory" ng-submit="saveInventory($event)">
    <div class="card">
        <div class="card-header bgm-cyan text-center">
            <h2><i class="him-icon zmdi zmdi-collection-plus"></i> &nbsp; Add New Inventory Item</h2>
        </div>
        <div id="messages"></div>
        <div class="card-body card-padding">
            <!-- first row -->
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" name="batch_no">
                    <label class="fg-label">Batch No</label>
                </div>
            </div>
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line" ng-class="{'has-error': form.product_name.$dirty && form.product_name.$invalid }">
                    <input type="text" class="form-control input-sm" name="product_name" ng-model="product_name" required>
                    <label class="fg-label">Name <span class="text-danger">*</span></label>
                </div>
            </div>
            <!-- 2nd row -->
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line" ng-class="{'has-error': form.quantity.$dirty && form.quantity.$invalid }">
                    <input type="text" class="form-control input-sm" name="quantity" ng-model="quantity" required>
                    <label class="fg-label">Quantity <span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" name="min_stock_level">
                    <label class="fg-label">Low Inventory Reminder</label>
                </div>
            </div>
            <!-- 2nd row -->
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line" ng-class="{'has-error': form.cost_price.$dirty && form.cost_price.$invalid }">
                    <input type="text" class="form-control input-sm" name="cost_price" ng-model="cost_price" required>
                    <label class="fg-label">Purchase Price(Per unit) <span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line" ng-class="{'has-error': form.sale_price.$dirty && form.sale_price.$invalid }">
                    <input type="text" class="form-control input-sm" name="sale_price" ng-model="sale_price" required>
                    <label class="fg-label">Sale Price(Per unit) <span class="text-danger">*</span></label>
                </div>
            </div>
            <!-- 3rd row -->
            <div class="m-b-30 col-sm-6">
                <label>Purchase Date <span class="text-danger">*</span></label>
                <div class="input-group col-sm-12">
                    <div class="dtp-container">
                        <input type='text' class="form-control date-picker" placeholder="Click here..." name="purchase_date" datepicker>
                    </div>
                </div>
            </div>
            <div class="m-b-30 col-sm-6">
                <label>Expire Date <span class="text-danger">*</span></label>
                <div class="input-group col-sm-12">
                    <div class="dtp-container">
                        <input type='text' class="form-control date-picker" placeholder="Click here..." name="expiry" datepicker>
                    </div>
                </div>
            </div>
            <!-- 4th row -->
            <div class="form-group fg-float col-sm-4 m-b-30">
                <label>Product Category</label>
                <select class="selectpicker" selectpicker data-live-search="true" name="product_type">
                    <option ng-repeat="category in productCategories" value="<% category.category_id %>"><% category.category_name %></option>
                </select>
            </div>
            <div class="form-group fg-float col-sm-4 m-b-30">
                <label>Product Company</label>
                <select class="selectpicker" selectpicker data-live-search="true" name="company_id">
                    <option ng-repeat="company in companies" value="<% company.company_id %>"><% company.company_name %></option>
                </select>
            </div>
            <div class="form-group fg-float col-sm-4 m-b-30">
                <label>Product Supplier</label>
                <select class="selectpicker" selectpicker data-live-search="true" name="supplier_id">
                        <option ng-repeat="supplier in suppliers" value="<% supplier.supplier_id %>"><% supplier.first_name+' '+supplier.last_name %></option>
                </select>
            </div>
            <!-- 6th row -->
            <div class="form-group fg-float col-sm-12">
                <div class="fg-line">
                    <textarea class="form-control auto-size input-sm" style="overflow: hidden; word-wrap: break-word; height: 43px;" name="description"></textarea>
                    <label class="fg-label">Description</label>
                </div>
            </div>
            <div class="col-sm-12  m-b-30">
                <button class="btn btn-info waves-effect" ng-disabled="form.$invalid" >Submit</button>
                <button class="btn btn-link waves-effect" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>