<div class="card">
    <div class="card-header bgm-cyan">
        <h2>
            <i class="him-icon zmdi zmdi-assignment"></i>
            Inventory List
        </h2>
        <ul class="actions actions-alt">
            <li class="dropdown">
                <a href="widget-templates.html" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="javascript:void(0);" ng-click="inventoryModal()">Add Inventory Item</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Import New Inventory Items</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Export Inventory Data</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Print Inventory List</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bootgrid-header container-fluid">
        <div class="row">
            <div class="col-sm-3 actionBar">
                <div class="search form-group m-t-25" style="width: 100% !important;">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" class="search-field form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="margin-top: 3px;">
                <label>Product Categories</label>
                <select class="selectpicker" data-live-search="true" ng-model="category" selectpicker >
                    <option value="all" selected>All</option>
                    <option ng-repeat="category in categories" value="<% category.category_id %>"><% category.category_name %></option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>Expire From</label>
                <div class="input-group col-sm-12">
                    <div class="dtp-container">
                        <input type='text' class="form-control date-picker" placeholder="Click here..." id="from_date"
                               ng-blur="dateFilter(inventoryItems)" ng-model="from_date" datepicker>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Expire To</label>
                <div class="input-group col-sm-12">
                    <div class="dtp-container">
                        <input type='text' class="form-control date-picker" placeholder="Click here..." id="to_date"
                               ng-blur="dateFilter(inventoryItems)" ng-model="to_date" datepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Batch Code</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Unit Cost</th>
                <th>Sale Cost</th>
                <th>Purchase Date</th>
                <th>Expire Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="item in inventoryItems | filter:search | filter:categoryFilter | filter: dateFilter">
                    <td><% $index + 1 %></td>
                    <td><% item.batch_no %></td>
                    <td><% item.product.product_name %></td>
                    <td><% item.quantity %></td>
                    <td><% item.product.cost_price %></td>
                    <td><% item.product.sale_price %></td>
                    <td><% item.purchase_date %></td>
                    <td><% item.expiry %></td>
                    <td class="text-left" style="">
                        <button class="btn btn-info waves-effect" ng-click="updateInventory(item)">
                            <i class="zmdi zmdi-edit"></i>
                        </button>
                        <button class="btn btn-primary waves-effect" data-toggle="collapse"
                                data-target="#view<% item.stock_id %>" aria-expanded="false"
                                aria-controls="view<% item.stock_id %>">
                            <i class="zmdi zmdi-eye"></i>
                        </button>
                        <button class="btn btn-danger waves-effect" ng-click="deleteInventory(item.stock_id, item)">
                            <i class="zmdi zmdi-delete"></i>
                        </button>
                    </td>
                </tr>
                <tr class="collapse" id="view<% item.stock_id %>" ng-repeat-end>
                    <td colspan="9">
                        <div class="card card-box">
                            <div class="card-header">
                                <h2>Description</h2>
                            </div>
                            <div class="card-body card-padding">
                                <blockquote style="margin-bottom: 0px !important;">
                                    <p><% item.product.description %></p>
                                </blockquote>
                            </div>
                            <div class="col-sm-8 m-b-25" >
                                <div class="card pt-inner">
                                    <div class="pti-body">
                                        <div class="col-sm-6 ptib-item text-left">
                                            Product Category
                                        </div>
                                        <div class="col-sm-6 ptib-item">
                                            <% item.product.product_category.category_name %>
                                        </div>
                                        <div class="col-sm-6 ptib-item text-left">
                                            Stock Supplier
                                        </div>
                                        <div class="col-sm-6 ptib-item">
                                            <% item.stock_supplier[0].first_name + ' '+ item.stock_supplier[0].last_name  %>
                                        </div>
                                        <div class="col-sm-6 ptib-item text-left">
                                            Stock Company
                                        </div>
                                        <div class="col-sm-6 ptib-item">
                                            <% item.stock_company[0].company_name %>
                                        </div>
                                        <div class="col-sm-6 ptib-item text-left">
                                            Min Stock Level Alert
                                        </div>
                                        <div class="col-sm-6 ptib-item" style="border-bottom: 1px solid #eee;">
                                            <% item.product.min_stock_level %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>