<div class="card">
    <div class="card-header bgm-cyan">
        <h2><i class="him-icon zmdi zmdi-walk"></i>&nbsp; Customers List</h2>
        <ul class="actions actions-alt">
            <li class="dropdown">
                <a href="widget-templates.html" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="javascript:void(0);" ng-click="customerModal()">Add New Customer</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Import New Customer</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Export Customer Data</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Print Customer List</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bootgrid-header container-fluid">
        <div class="row">
            <div class="col-sm-4 actionBar">
                <div class="search form-group m-t-25">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" class="search-field form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>City</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="customer in customers | filter:search">
                <td><% customer.customer_id %></td>
                <td><% customer.first_name +' '+ customer.last_name %></td>
                <td><% customer.email %> </td>
                <td><% customer.mobile %> </td>
                <td><% customer.city %> </td>
                <td><% customer.address %> </td>
                <td class="text-left" style="">
                    <button class="btn btn-info waves-effect" ng-click="updateCustomer(customer)"><i class="zmdi zmdi-edit"></i></button>
                    <button class="btn btn-danger waves-effect" ng-click="deleteCustomer(customer.customer_id , customer)"><i class="zmdi zmdi-delete"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>