<form data-url="customer/createCustomer" method="post" name="form" id="saveCustomer" ng-submit="saveCustomer($event)">
    <div class="card">
        <div class="card-header bgm-cyan text-center">
            <h2><i class="him-icon zmdi zmdi-account-add"></i>&nbsp; Registered A New Customer</h2>
        </div>
        <div id="messages"></div>
        <div class="card-body card-padding">
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line" ng-class="{'has-error': form.first_name.$dirty && form.first_name.$invalid }">
                    <input type="text" class="form-control input-sm" name="first_name" required ng-model="first_name">
                    <label class="fg-label">First Name <span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line" ng-class="{'has-error': form.last_name.$dirty && form.last_name.$invalid }">
                    <input type="text" class="form-control input-sm" name="last_name" required ng-model="last_name">
                    <label class="fg-label">Last Name <span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line">
                    <input type="email" class="form-control input-sm" name="email">
                    <label class="fg-label">Email address</label>
                </div>
            </div>
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line" ng-class="{'has-error': form.mobile.$dirty && form.mobile.$invalid }">
                    <input type="text" class="form-control input-sm" name="mobile" required ng-model="mobile">
                    <label class="fg-label">Mobile No <span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" name="phone">
                    <label class="fg-label">Phone No</label>
                </div>
            </div>
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" name="city">
                    <label class="fg-label">City</label>
                </div>
            </div>
            <div class="form-group fg-float col-sm-12">
                <div class="fg-line">
                    <textarea
                            class="form-control auto-size input-sm"
                            style="overflow: hidden; word-wrap: break-word; height: 43px;"
                            name="address"></textarea>
                    <label class="fg-label">Address</label>
                </div>
            </div>
            <!-- end address section -->
            <div class="col-sm-12  m-b-30">
                <button class="btn btn-info waves-effect"
                        ng-disabled="form.$invalid">
                    Submit
                </button>
                <button class="btn btn-link waves-effect" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
