<div class="card">
    <div class="card-header bgm-cyan text-center">
        <h2><i class="him-icon zmdi zmdi-cutlery"></i> &nbsp; Items List </h2>
    </div>
    <div class="bootgrid-header container-fluid">
        <div class="row">
            <div class="col-sm-4 actionBar">
                <div class="search form-group m-t-25">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" class="search-field form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Product Desc</th>
                <th>Item Quantity</th>
                <th>Purchase Price</th>
                <th>Sale Price</th>
                <th>Discount</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="product in products | filter:search">
                <td><% product.product_name %></td>
                <td><% product.description %></td>
                <td><% product.min_stock_level %> </td>
                <td><% product.cost_price %> </td>
                <td><% product.sale_price %> </td>
                <td><% product.discount %> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>