@font-face {
    font-family: Agency-FB;
    src: url(../fonts/AgencyFB.ttf);
}
.clearfix-custom{
    clear: both;
}
.page-loader{
    z-index: 1100 !important;
}
.request-loader{
    display: block !important;
    background: none !important;
}
.request-loader .preloader p{
    color:#000000 !important;
}
.request-loader .preloader.pls-blue .plc-path{
    stroke-width: 3px !important;
}
.bootgrid-header{
    padding: 10px 25px 10px !important;
}
.bootstrap-select>.btn-default{
    border: 1px solid #e0e0e0;
    height: 35px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    padding: 0px 10px 0;
}
.card-box{
    box-shadow: 0px 0px 1px rgba(0,0,0,.15) !important;
}
.total-section ul li {
    padding: 8px 0 8px 180px !important;
}
.total-section ul li span{
    font-family: Agency-FB;
    font-size: 22px;
}
.selected-item th{
    background-color: #f4f4f4 !important;
}
.selected-item,
.selected-item>tbody>tr>td,
.selected-item>thead>tr>th{
    border: 1px solid #dadada !important;

}
.order-inner .pti-body .custom-colors{
    background-color: #03A9F4;
    color: #FFFFFF;
}
.order-inner .pti-body .ptib-item{
    border: 1px solid #eee !important;
}