<form data-url="category/create" method="post" name="form" id="saveCategory" ng-submit="saveCategory($event)">
    <div class="card">
        <div class="card-header bgm-cyan text-center">
            <h2><i class="him-icon zmdi zmdi-collection-plus"></i> &nbsp; Add New Category</h2>
        </div>
        <div id="messages"></div>
        <div class="card-body card-padding">
            <!-- first row -->
            <div class="form-group fg-float m-b-30 col-sm-12">
                <div class="fg-line" ng-class="{'has-error': form.category_name.$dirty && form.category_name.$invalid }">
                    <input type="text" class="form-control input-sm" name="category_name" required ng-model="category_name">
                    <label class="fg-label">Category Name <span class="text-danger">*</span></label>
                </div>
            </div>
            <!-- 2nd row -->
            <div class="form-group fg-float col-sm-12">
                <div class="fg-line">
                    <textarea class="form-control auto-size input-sm" style="overflow: hidden; word-wrap: break-word; height: 43px;" name="description"></textarea>
                    <label class="fg-label">Description</label>
                </div>
            </div>
            <div class="col-sm-12  m-b-30">
                <button class="btn btn-info waves-effect" ng-disabled="form.$invalid">Submit</button>
                <button class="btn btn-link waves-effect" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>