<div class="card">
    <div class="card-header bgm-cyan">
        <h2>
            <i class="him-icon zmdi zmdi-assignment"></i>&nbsp;
            Category List
        </h2>
        <ul class="actions actions-alt">
            <li class="dropdown">
                <a href="widget-templates.html" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="javascript:void(0);" ng-click="categoryModal()">Add Category</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bootgrid-header container-fluid">
        <div class="row">
            <div class="col-sm-4 actionBar">
                <div class="search form-group m-t-25" style="width: 100% !important;">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" class="search-field form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in categories | filter:search">
                    <td><% $index + 1 %></td>
                    <td><% item.category_name %></td>
                    <td><% item.description %></td>
                    <td><% item.created_at %></td>
                    <td class="text-left" style="">
                        <button class="btn btn-info waves-effect" ng-click="updateCategory(item)">
                            <i class="zmdi zmdi-edit"></i>
                        </button>
                        <button class="btn btn-danger waves-effect" ng-click="deleteCategory(item.category_id, item)">
                            <i class="zmdi zmdi-delete"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>