<form data-url="deals/create" method="post" name="form" id="saveDeal" ng-submit="saveDeal($event)">
    <div class="card">
        <div class="card-header bgm-cyan">
            <h2><i class="him-icon zmdi zmdi-cutlery"></i> &nbsp; Add New Deal </h2>
        </div>
        <div id="messages"></div>
        <div class="card-body card-padding">
            <!-- first row -->
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line" ng-class="{'has-error': form.deal_name.$dirty && form.deal_name.$invalid }">
                    <input type="text" class="form-control input-sm" name="deal_name" ng-model="deal_name" required>
                    <label class="fg-label">Deal Title <span class="text-danger">*</span></label>
                </div>
            </div>
            <!-- 2nd row -->
            <div class="form-group fg-float m-b-30 col-sm-6">
                <div class="fg-line" ng-class="{'has-error': form.sale_price.$dirty && form.sale_price.$invalid }">
                    <input type="text" class="form-control input-sm" name="sale_price" ng-model="sale_price" required>
                    <label class="fg-label">Deal Sale Price <span class="text-danger">*</span></label>
                </div>
            </div>
            <!-- 3rd row -->
            <div class="form-group fg-float col-sm-12">
                <div class="fg-line">
                    <textarea class="form-control auto-size input-sm" style="overflow: hidden; word-wrap: break-word; height: 43px;" name="description"></textarea>
                    <label class="fg-label">Description</label>
                </div>
            </div>
            <!-- 3rd row -->
            <div class="col-sm-12  m-b-30 text-center">
                <h5><i class="zmdi zmdi-puzzle-piece"></i> &nbsp;Deal Components</h5>
            </div>
            <div class="deal-component">
                <div class="form-group fg-float col-sm-6">
                    <div class="fg-toggled">
                        <select class="selectpicker" selectpicker data-live-search="true" name="item_id[]">
                            <option ng-repeat="item in allItems" value="<% item.product_id?item.product_id+'-product_id':item.menu_id+'-menu_id' %>">
                                <% item.product_name?item.product_name:item.title %>
                            </option>
                        </select>
                        <label class="fg-label" style="margin-left: 15px"><strong>Product</strong></label>
                    </div>
                </div>
                <div class="form-group fg-float col-sm-3">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm quantity" name="quantity[]">
                        <label class="fg-label">Quantity</label>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <a href="javascript:void(0);" class="btn bgm-lightgreen waves-effect add-deal-component">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                    <a href="javascript:void(0);"
                       class="btn bgm-deeporange waves-effect hide remove-deal-component">
                        <i class="zmdi zmdi-minus"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- 4th row -->
            <div class="col-sm-12  m-b-30 text-center">
                <h5><i class="zmdi zmdi-time-interval"></i> &nbsp;Deal Schedule</h5>
            </div>
            <div class="deal-schedule">
                <!-- start time -->
                <div class="m-b-30 col-sm-2">
                    <label>Start Time <span class="text-danger">*</span></label>
                    <div class="input-group col-sm-12">
                        <div class="dtp-container">
                            <input type='text' class="form-control time-picker" timepicker placeholder="Click here..." name="deal_start_time[]">
                        </div>
                    </div>
                </div>
                <!-- end time -->
                <div class="m-b-30 col-sm-2">
                    <label>End Time <span class="text-danger">*</span></label>
                    <div class="input-group col-sm-12">
                        <div class="dtp-container">
                            <input type='text' class="form-control time-picker" timepicker placeholder="Click here..." name="deal_end_time[]">
                        </div>
                    </div>
                </div>
                <!-- start date -->
                <div class="m-b-30 col-sm-3">
                    <label>Start Date <span class="text-danger">*</span></label>
                    <div class="input-group col-sm-12">
                        <div class="dtp-container">
                            <input type='text' class="form-control date-picker" placeholder="Click here..." name="deal_start_date[]" datepicker>
                        </div>
                    </div>
                </div>
                <!-- end date -->
                <div class="m-b-30 col-sm-3">
                    <label>End Date</label>
                    <div class="input-group col-sm-12">
                        <div class="dtp-container">
                            <input type='text' class="form-control date-picker" placeholder="Click here..." name="deal_end_date[]" datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 form-group m-t-25">
                    <a href="javascript:void(0);" class="btn bgm-lightgreen waves-effect add-deal-schedule">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                    <a href="javascript:void(0);"
                       class="btn bgm-deeporange waves-effect hide remove-deal-schedule">
                        <i class="zmdi zmdi-minus"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- bottom section -->
            <div class="col-sm-12  m-b-30">
                <button class="btn btn-info waves-effect" ng-disabled="form.$invalid">Submit</button>
                <button class="btn btn-link waves-effect" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>