<div class="card">
    <div class="card-header bgm-cyan">
        <h2>
            <i class="him-icon zmdi zmdi-menu"></i>&nbsp;
            Deals List
        </h2>
        <ul class="actions actions-alt">
            <li class="dropdown">
                <a href="widget-templates.html" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#/deal-add">Add Deal</a>
                    </li>
                    <li>
                        <a href="widget-templates.html">Print Deals List</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bootgrid-header container-fluid">
        <div class="row">
            <div class="col-sm-3 actionBar">
                <div class="search form-group m-t-25" style="width: 100% !important;">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" class="search-field form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Deal Title</th>
                <th>Deal Price</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="item in dealsList | filter:search">
                    <td><% $index + 1 %></td>
                    <td><% item.deal_name %></td>
                    <td><% item.sale_price %></td>
                    <td><% item.description %></td>
                    <td><% item.user_info.first_name +' '+ item.user_info.last_name %></td>
                    <td class="text-left" style="">
                        <a class="btn btn-info waves-effect" href="#/deal-update/<% item.deal_id %>">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                        <button class="btn btn-primary waves-effect" data-toggle="collapse"
                                data-target="#view<% item.deal_id %>" aria-expanded="false"
                                aria-controls="view<% item.deal_id %>">
                            <i class="zmdi zmdi-eye"></i>
                        </button>
                        <button class="btn btn-danger waves-effect" ng-click="deleteDeal(item.deal_id, item)">
                            <i class="zmdi zmdi-delete"></i>
                        </button>
                    </td>
                </tr>
                <tr class="collapse" id="view<% item.deal_id %>" ng-repeat-end>
                    <td colspan="9">
                        <div class="card card-box">
                            <div class="col-sm-6 m-b-25" >
                                <div class="card pt-inner">
                                    <div class="pti-body">
                                        <div class="col-sm-4 ptib-item text-left">
                                            Product
                                        </div>
                                        <div class="col-sm-4 ptib-item">
                                            Quantity
                                        </div>
                                        <div class="col-sm-4 ptib-item" style="border-bottom: 1px solid #eee;">
                                            Type
                                        </div>
                                        <div class="col-sm-4 ptib-item text-left" ng-repeat-start="components in item.deal_components">
                                            <% components.product?components.product.product_name:components.menu.title %>
                                        </div>
                                        <div class="col-sm-4 ptib-item">
                                            <% components.quantity?components.quantity:"0" %>
                                        </div>
                                        <div class="col-sm-4 ptib-item" style="border-bottom: 1px solid #eee;" ng-repeat-end>
                                            <% components.product?"Product":"Menu" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-25" >
                                <div class="card pt-inner">
                                    <div class="pti-body">
                                        <div class="col-sm-3 ptib-item text-left">
                                            Start Time
                                        </div>
                                        <div class="col-sm-3 ptib-item">
                                            End Time
                                        </div>
                                        <div class="col-sm-3 ptib-item">
                                            Start Date
                                        </div>
                                        <div class="col-sm-3 ptib-item" style="border-bottom: 1px solid #eee;">
                                            End Date
                                        </div>
                                        <div class="col-sm-3 ptib-item text-left" ng-repeat-start="schedule in item.deal_schedule">
                                            <% schedule.deal_start_time %>
                                        </div>
                                        <div class="col-sm-3 ptib-item">
                                            <% schedule.deal_end_time %>
                                        </div>
                                        <div class="col-sm-3 ptib-item">
                                            <% schedule.deal_start_date %>
                                        </div>
                                        <div class="col-sm-3 ptib-item" style="border-bottom: 1px solid #eee;" ng-repeat-end>
                                            <% schedule.deal_end_date?schedule.deal_end_date:"Active" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>