<div class="card">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>City</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="customer in customers | filter:search">
                <td><% customer.customer_id %></td>
                <td><% customer.first_name +' '+ customer.last_name %></td>
                <td><% customer.email %> </td>
                <td><% customer.mobile %> </td>
                <td><% customer.city %> </td>
                <td><% customer.address %> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>