<div class="card">
    <div class="card-header bgm-blue">
        <h2><i class="him-icon zmdi zmdi-menu"></i> &nbsp; Orders List </h2>
    </div>
    <div class="bootgrid-header container-fluid">
        <div class="row">
            <div class="col-sm-4 actionBar">
                <div class="search form-group m-t-25">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" class="search-field form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Customer No</th>
                <th>Table No#</th>
                <th>Order Type</th>
                <th>Order Date</th>
                <th>Total Price</th>
                <th>Cash Received</th>
                <th>Status</th>
                <th>Order By</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="order in ordersList | filter:search">
                <td><% order.order_id %></td>
                <td><% order.mobile %></td>
                <td><% order.table_no %> </td>
                <td><% order.order_type %> </td>
                <td><% order.order_date %> </td>
                <td><% order.orders_sale_price %> </td>
                <td><% order.payment_received %> </td>
                <td><% order.order_status %> </td>
                <td><% order.first_name +' '+order.last_name %> </td>
                <td class="text-left">
                    <a class="btn btn-primary waves-effect" data-toggle="collapse"
                       data-target="#view<% order.order_id %>" aria-expanded="false"
                       aria-controls="view<% order.order_id %>">
                        <i class="zmdi zmdi-eye"></i>
                    </a>
                </td>
            </tr>
            <tr class="collapse" id="view<% order.order_id %>" ng-repeat-end>
                <td colspan="10">
                    <div class="card card-box">
                        <div class="col-sm-12 m-b-25 m-t-25">
                            <div class="card pt-inner order-inner">
                                <div class="pti-body">
                                    <div class="col-sm-2 ptib-item custom-colors">
                                        Item Name
                                    </div>
                                    <div class="col-sm-2 ptib-item custom-colors">
                                        Quantity
                                    </div>
                                    <div class="col-sm-2 ptib-item custom-colors">
                                        Sale Price(Unit Price)
                                    </div>
                                    <div class="col-sm-2 ptib-item custom-colors">
                                        Discount(%)
                                    </div>
                                    <div class="col-sm-2 ptib-item custom-colors">
                                        Total Price
                                    </div>
                                    <div class="col-sm-2 ptib-item custom-colors">
                                        Type
                                    </div>
                                    <!--listed data -->
                                    <div class="col-sm-2 ptib-item" ng-repeat-start="item in order.product">
                                        <% item.name %>
                                    </div>
                                    <div class="col-sm-2 ptib-item">
                                        <% item.quantity %>
                                    </div>
                                    <div class="col-sm-2 ptib-item">
                                        <% item.sale_price %>
                                    </div>
                                    <div class="col-sm-2 ptib-item">
                                        <% item.sale_dis+'%' %>
                                    </div>
                                    <div class="col-sm-2 ptib-item">
                                        <% calculateTotal(item.quantity, item.sale_price, item.sale_dis) %>
                                    </div>
                                    <div class="col-sm-2 ptib-item">
                                        <% item.item_type %>
                                    </div>
                                    <div class="clearfix" ng-repeat-end></div>
                                </div>
                            </div>
                            <div class="text-right">
                                <a href="javascript:void(0)" class="btn btn-warning waves-effect">
                                    <i class="zmdi zmdi-print"></i>&nbsp;
                                    Print Invoice
                                </a>
                                <a href="javascript:void(0)" class="btn btn-success waves-effect" ng-if="order.order_status !== 'Confirm'">
                                    <i class="zmdi zmdi-check-all"></i>&nbsp;
                                    Confirm Order
                                </a>
                                <a href="javascript:void(0)" class="btn btn-danger waves-effect" ng-if="order.order_status !== 'Cancel'">
                                    <i class="zmdi zmdi-block-alt"></i>&nbsp;
                                    Cancel Order
                                </a>
                                <a href="javascript:void(0)" class="btn btn-info waves-effect" ng-click="updateOrder(order)">
                                    <i class="zmdi zmdi-edit"></i>&nbsp;
                                    Edit Order
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>