<form data-url="order/phoneCreate" method="post" id="savePhoneOrder" ng-submit="savePhoneOrder($event)">
    <div class="card">
        <div class="card-header bgm-cyan">
            <h2><i class="him-icon zmdi zmdi-local-grocery-store"></i>&nbsp; New Phone Order</h2>
        </div>
        <div id="messages"></div>
        <div class="card-body card-padding">
            <!-- customer info -->
            <div class="col-sm-12">
                <div class="form-group fg-float m-b-30 col-sm-6">
                    <div class="fg-line" ng-class="{'fg-toggled':userNo}">
                        <autocomplete ng-model="userNo" on-select="selectUser" data="customersNo"
                                      attr-input-class="form-control input-sm"></autocomplete>
                        <label class="fg-label">Contact No#</label>
                    </div>
                </div>
                <div class="form-group fg-float m-b-30 col-sm-6">
                    <div class="fg-line" ng-class="{'fg-toggled':customerName}">
                        <input type="text" class="form-control input-sm" ng-model="customerName">
                        <label class="fg-label">Customer Name</label>
                    </div>
                </div>
                <div class="form-group fg-float m-b-30 col-sm-12">
                    <div class="fg-line" ng-class="{'fg-toggled':customerAddress}">
                        <textarea class="form-control input-sm" ng-model="customerAddress"></textarea>
                        <label class="fg-label">Address</label>
                    </div>
                </div>
                <div class="form-group checkbox m-b-20 m-l-15 col-sm-12">
                    <label>
                        <input type="checkbox" ng-model="changed_info">
                        <i class="input-helper"></i>
                        Want To Change Customer Information?
                    </label>
                </div>
            </div>
            <!-- order info -->
            <div class="col-sm-12">
                <div class="form-group fg-float m-b-30 col-sm-6">
                    <div class="fg-line" ng-class="{'fg-toggled':item_name}">
                        <input type="text" class="form-control input-sm"
                               ng-model="item_name"
                               ng-focus="productModel()">
                        <label class="fg-label">Item Name</label>
                    </div>
                </div>
                <div class="form-group fg-float m-b-30 col-sm-6" ng-class="{'has-error':enableQuantity}">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm"
                               id="quantity" ng-model="quantity"
                               ng-change="enableQuantity = updateQuantity(quantity)">
                        <label class="fg-label">Quantity</label>
                    </div>
                </div>
                <div class="form-group fg-float m-b-30 col-sm-6" ng-class="{'has-error':enableDiscount}">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm" ng-model="discount"
                               ng-change="enableDiscount = updateDiscount(discount)">
                        <label class="fg-label">Discount(%)</label>
                    </div>
                </div>
                <div class="form-group fg-float m-b-30 col-sm-6" ng-class="{'has-error':enablePrice}">
                    <div class="fg-line" ng-class="{'fg-toggled':sale_price}">
                        <input type="text" class="form-control input-sm" id="sale_price"
                               ng-model="sale_price" ng-change="enablePrice = updatePrice(sale_price)">
                        <label class="fg-label">Sale Price</label>
                    </div>
                </div>
                <div class="form-group fg-float m-b-30 col-sm-12 text-right">
                    <a href="javascript:void(0)" class="btn btn-info waves-effect"
                       ng-disabled="enableQuantity || enablePrice || enableDiscount || !item_name"
                       ng-click="addToList()">Add To List</a>
                    <a href="javascript:void(0)" class="btn btn-danger waves-effect" ng-click="resetFields()">Reset</a>
                </div>
                <!-- product list -->
                <div class="form-group fg-float col-sm-12">
                    <table class="table table-bordered selected-item">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Sale Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in selectedProduct" ng-if="selectedProduct.length > 0">
                            <td><% $index + 1%></td>
                            <td><% item.product.name %></td>
                            <td><% item.product.new_quantity %></td>
                            <td><% item.product.discount %></td>
                            <td><% item.product.sale_price %></td>
                            <td class="text-left">
                                <a href="javascript:void(0)" class="btn btn-info waves-effect" ng-click="updateItem(item)">
                                    <i class="zmdi zmdi-edit"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-danger waves-effect" ng-click="deleteItem(item)">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="selectedProduct.length == 0">
                           <td colspan="6" class="text-center">
                               <b>No Item Selected Yet</b>
                           </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end order info -->
            <div class="col-sm-12 m-b-30">
                <div class="form-group fg-float m-b-20 col-sm-6 col-sm-offset-6">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm" ng-model="total_discount" ng-change="totalDiscount(total_discount)">
                        <label class="fg-label">Discount(%)</label>
                    </div>
                </div>
                <div class="pmo-contact col-sm-6 col-sm-offset-6 total-section">
                    <ul>
                        <li class="ng-binding"><i>Total:</i> <span><% total %></span></li>
                        <li class="ng-binding"><i style="width: 100px;">Grand Total:</i> <span><% grandTotal %></span></li>
                    </ul>
                </div>
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-info waves-effect"
                            ng-disabled="!userNo || !customerName || !customerAddress || !selectedProduct || !(grandTotal > 0)">
                        Submit
                    </button>
                    <button type="reset" class="btn btn-link waves-effect" ng-click="resetForm()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
