<div class="card">
    <div class="card-header bgm-cyan">
        <h2><i class="him-icon zmdi zmdi-menu"></i>&nbsp; Product List</h2>
    </div>
    <div class="bootgrid-header container-fluid">
        <div class="row">
            <div class="col-sm-3 actionBar">
                <div class="search form-group m-t-25" style="width: 100% !important;">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" class="search-field form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="margin-top: 3px;">
                <label>Type</label>
                <select class="selectpicker" data-live-search="true" selectpicker ng-model="type" ng-change="typeFilter()">
                    <option value="all" selected>All</option>
                    <option value="product" selected>Product</option>
                    <option value="menu_id" selected>Menu</option>
                    <option value="deal_id" selected>Deals</option>
                </select>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Unit Cost</th>
                <th>Sale Cost</th>
                <th>Expire Date</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in allProducts | filter:search" ng-click="selectProduct(item)" style="cursor: pointer">
                <td><% $index + 1 %></td>
                <td><% item.product?item.product.name:item.name %></td>
                <td><% item.quantity?item.quantity:"Not Define" %></td>
                <td><% item.product?item.product.cost_price:"Not Define" %></td>
                <td><% item.product?item.product.sale_price:item.sale_price %></td>
                <td><% item.expiry?item.expiry:"Not Define" %></td>
                <td><% item.product?"Product":item.menu_id?"Menu":"Deal" %></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

